  
<app-navigation></app-navigation>
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="banner-content">
                            <h6>{{header.h6}}</h6>
                            <h2>{{header.h2}}</h2>
                            <ul class="buttons">
                                <li>
                                    <div class="primary-button">
                                        <a href="{{header.buttonAbout}}">{{header.downloadButton}}</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="secondary-button">
                                        <a href="{{header.buttonLink}}">{{header.moreDetail}}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
  