<app-navigation></app-navigation>
<section id="portfolio" class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>{{gallery.title}}</h4>
                    <p>{{gallery.description}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="owl-portfolio" class="owl-carousel owl-theme imageGallery1">
                
                <div class="item" *ngFor = "let galleryItem of gallery.gallerySlider">
                    <div class="portfolio-item">
                        <a href="{{galleryItem.imgLink}}" title="">
                          <img src="{{galleryItem.img}}" alt="Gallery image 1" /></a>
                          <h3>{{galleryItem.title}}</h3>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>