
<app-navigation></app-navigation><br/><br/><br/><br/>
<div class="container">
    <h2>Employee List</h2>
    <table border="1" width="100%" class="table text-center">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">NAME</th>
            <th class="text-center">AGE</th>
        </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td> {{employee.age}}</td>
    </tr>
    </table>
</div>    