
<app-navigation></app-navigation>
<br/><br/><br/><br/><br/><br/>



<div class="container">
   <div class="row">
       <form action="" [formGroup] = "reactiveForm">
           <div class="form-group">
               <label>First Name</label>
              <input type="text" formControlName = "firstName" placeholder="First Name" class="form-control" />
           </div>

           <div class="form-group">
               <label>Last Name</label>
            <input type="text" formControlName = "lastName" placeholder="Last Name" class="form-control" />
         </div>
         <div class="" formGroupName="address">

               <div class="form-group">
                  <label>Address Type</label>
                  <input type="text" formControlName = "addressType" placeholder="addressType" class="form-control" />
               </div>
               <div class="form-group">
                     <label>Expaire Date</label>
                  <input type="date" formControlName = "expiryDate" placeholder="expiryDate" class="form-control" />
               </div>
               <div class="form-group">
                  <input type="text" formControlName = "city" placeholder="city" class="form-control" />
               </div>
               <div class="form-group">
                     <label>States</label>
                  <select class="form-control" formControlName = "state" >
                     <option selected [ngValue]="null">Choose any state</option>
                     <option *ngFor = "let item of states" [value] = "item">{{item}}</option>
                  </select>
                 
               </div>
               <div class="form-group">
                     <label>Zip Code</label>
                  <input type="text" formControlName = "zipcode" placeholder="zipcode" class="form-control" />
               </div>
         </div>
         <!-- <div class="form-group">
            <input type="text" formControlName = "Emailid" placeholder="Email Id" />
         </div> -->
         <!-- <div class="form-group">
            <input type="password" formControlName = "userPassword" placeholder="Password" class="form-control" />
         </div> -->

         <button type="button" (click)="submitHandler()" class="btn btn-primary">Submit</button>

       </form>

   </div>

</div>


