<section id="about" class="page-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item first-service">
                    <div class="icon">
                        <img src="../assets/img/first-service-icon.png" alt="">
                    </div>
                    <h4>Mobile Ready</h4>
                    <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae urna. Vestibulum ante ipsum primis in faucibus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item second-service">
                    <div class="icon">
                        <img src="../assets/img/second-service-icon.png" alt="">
                    </div>
                    <h4>HTML CSS</h4>
                    <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae urna. Vestibulum ante ipsum primis in faucibus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item third-service">
                    <div class="icon">
                        <img src="../assets/img/third-service-icon.png" alt="">
                    </div>
                    <h4>Responsive Design</h4>
                    <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae urna. Vestibulum ante ipsum primis in faucibus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
